* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins';
  background-color: #ecedef;
  line-height: 1.8;
}

a {
  text-decoration: none;
}
#container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

.form-wrap {
  background: #ffff;
  padding: 15px 25px;
  color: #333;
  border-top: 4px solid #9d42ed;
  border-radius: 0.5px;
  padding-bottom: 25px;
}

/* 49c1a2*/

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.auto-growing-textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* Prevent the user from manually resizing the textarea */
  overflow: hidden; /* Hide the scrollbar */
  height: auto;
  min-height: 200px; /* Minimum height */
  max-height: 400px; /* Set a max-height to control when the scrollbar appears */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
}

.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #9d42ed;
  color: #fff;
  cursor: pointer;
  border: 1px solid #9d42ed;
  font-family: 'poppins';
  font-size: 15px;
  transition: 0.15s;
}

.form-wrap button:hover {
  background-color: #6a319c;
  transition: 0.15s;
}

footer {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

footer a {
  color: #9d42ed;
}

.get-button {
  background-color: rgb(8, 164, 8);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  width: 200px;

  color: white;
  border: none;
  transition: 0.25s;
}
.get-button:hover {
  background-color: rgb(235, 112, 112);
}

.countdown-element {
  display: grid;
  place-items: center;
  row-gap: 15px;
  margin-top: 50px;
}

.countdown {
  margin-bottom: 15px !important;
  font-weight: 300;
}
